// Tipografia
$open-sans: 'Open Sans', sans-serif;
$raleway: 'Raleway', sans-serif;

// Colores

$btn: #08A6E4;
$pink: #FB3B64;
$blue: #08A6E4;
$green: #55DFB4;
$black: #000000;
$white: #FFFFFF;
$darkWhite: #F7F7F7;
$grey: #A5A5A5;