@use '../base/variables' as v;
@use '../base/mixins' as m;

.coin {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    min-height: 300px;
    margin: 20px auto 40px auto;
    border: 1px solid v.$blue;
    box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
    border-radius: 28px;
    padding: 15px 10px;

    @include m.desktop {
        width: 40%;
        min-height: 250px;
    }

    @include m.desktopXL {
        width: 30%;
    }

    p {
        font-family: v.$open-sans;
        font-weight: 400;
        font-size: 20px;
        line-height: 22px;
    }

    select {
        border-radius: 10px;
        padding: 5px 10px;
        background: v.$blue;
        border: none;
        font-family: v.$open-sans;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: v.$white;
    }

    .coin__result {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        border: 5px double v.$black;
        width: 80%;

        .result {
            padding: 5px 0px 15px 0px;

            &:last-child {
                border-left: 5px double v.$black;
            }

            h4{
                margin-bottom: 15px;
                padding-bottom: 2px;
                border-bottom: 1px solid v.$black;
                font-family: v.$raleway;
                font-weight: 700;
                font-size: 15px;
            }

            span {
                font-family: v.$open-sans;
                font-weight: 400;
                font-size: 12px;
                line-height: 20px;
                color: v.$black;
            }
        }
    }
}