@use '../base/variables' as v;
@use '../base/mixins' as m;

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    top: 18%;
    left: 7%;
    width: 350px;
    height: 300px;
    background: v.$green;
    border-radius: 10px;
    text-align: center;

    @include m.desktop {
        top: 22%;
        left: 38%;
    }

    @include m.desktopXL {
        top: 9%;
        left: 39%;
        width: 650px;
        height: 500px;
    }

    .popup__icon{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 10px;
        margin-top: 10px;
    }

    h2{
        font-family: v.$raleway;
        font-weight: 400;
        font-size: 40px;
        line-height: 47px;
    }

    h4{
        font-family: v.$raleway;
        font-weight: 400;
        font-size: 25px;
        line-height: 47px;
    }

    label{
        display: block;
        font-family: v.$open-sans;
        font-weight: 600;
        font-size: 15px;
        line-height: 15px;
        letter-spacing: 3.28px;
        color: v.$black;
        margin-top: 20px;
    }

    .popup__input{
        display: block;
        margin: 10px auto;
        width: 50%;
        background: v.$green;
        border: 1px solid v.$black;
        border-bottom: 2px solid v.$black;
        padding: 10px 5px;
        border-radius: 10px;
    }

    .popup__btn{
        display: block;
        margin: 10px auto;
        width: 50%;
        padding: 15px;
        background: v.$black;
        border-radius: 35px;
        border: none;
        font-family: v.$open-sans;
        font-weight: 700;
        font-size: 13px;
        line-height: 18px;
        color: v.$white;
    }
}